body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #0a0a0f; 
    color: #fff;
}

.claheader {
    background: rgba(10, 10, 20, 0.8); 
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(120, 0, 255, 0.3);
    position: sticky;
    top: 0;
    z-index: 100;
}

.clamaintext {
    text-align: justify;
    margin: 50px 0px 0px 400px; 
    color: #fff;
    text-shadow: 0 0 6px #6a5acd, 0 0 10px #7b68ee;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo img {
    height: 65px;
    filter: drop-shadow(0 0 8px #8a2be2);
}


.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #d9d9ff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.25s;
    padding: 6px 12px;
    border-radius: 6px;
}


.navbar ul li a:hover {
    color: #fff;
    text-shadow: 0 0 8px #6a5acd, 0 0 12px #7b68ee;
    background: rgba(110, 0, 255, 0.15);
    box-shadow: 0 0 15px rgba(120, 0, 255, 0.4);
}


.loginbutton {
    padding: 10px 20px;
    background: linear-gradient(90deg, #6a5acd, #8a2be2);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(140, 0, 255, 0.4);
}


.loginbutton:hover {
    box-shadow: 0 0 20px rgba(140, 0, 255, 0.8),
                0 0 30px rgba(90, 50, 255, 0.6);
}
